.modal{
	z-index:10002;
}
.top-bar-item {
	display: inline-block;
}
.tableitem{
cursor:pointer;
}
.tableitem:hover{
color:red;
}
.panel-body{
	height:400px;
}
.panel-body>.media{
	height:100%;
}
.dropdown-menu{
z-index:10004;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
